PORT=8080
UPLOAD_TOKEN=serkan2026yukle
DEFAULT_ARTIST=Serkan Saver
DEFAULT_COVER_URL=https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?auto=format&fit=crop&w=600&q=80
PLAYLIST_NAME=Serkan Saver 2026
PLAYLIST_DESCRIPTION=Serkan Saver parcalarinin online listesi.

R2_ACCOUNT_ID=4a4f1793a7a1c0318141b1298797aa66
R2_ACCESS_KEY_ID=BURAYA_CLOUDFLARE_ACCESS_KEY_ID
R2_SECRET_ACCESS_KEY=BURAYA_CLOUDFLARE_SECRET_ACCESS_KEY
R2_BUCKET_NAME=mp3-player-assets
R2_PUBLIC_BASE_URL=https://pub-50e2594b7dbe42a58ed3f4893ccbe955.r2.dev
R2_PLAYLIST_KEY=playlist.json
R2_TRACKS_PREFIX=tracks/
